<!Doctype html>
<html>
<head>
  <meta charset="utf-8">
  <title>英和辞典</title>
</head>
<body>
  <h2>単語一覧</h2>
  <table>
    <tr><th>ID</th><th>単語</th></tr>
      <% let number = 0 %>
      <% for( let row of data ) { %>
        <tr><td><%= row.id %></td> 
        <td>(<%= row.part_of_speech %>)</td>
        <td><a href="/en/<%= number %>"><%= row.word %></a></td></tr>
        <% number += 1 %>
      <% } %>
  </table>
  <a href="/en/create">追加</a>
</body>
</html>